apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  labels:
    app.kubernetes.io/monitoring-instance: {{ globals.monitoringInstance }}
    probe: website
  name: {{ globals.proberResourceName }}
spec:
  interval: {{ globals.interval }}
  prober:
    url: {{ globals.proberUrl }}
  targets:
    staticConfig:
      labels:
        probe: website
      relabelingConfigs:
      #set module
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: __param_module
        replacement: "${1}"
      #set probe-label
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: prober
        replacement: "${2}"
      #set job-label
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: job
        replacement: "${3}"
      #set instance-label
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: instance
        replacement: "${4}"
      #set team-label
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: team
        replacement: "${5}"
      #set target-label
      - sourceLabels:
        - __param_target
        regex: "([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@([\\w\\d_\\-]+)@(.*)" # module@probe@jobname@instance@team@target-url
        targetLabel: target
        replacement: "${6}"
      #set target-url
      - sourceLabels:
        - target
        targetLabel: __param_target
      static:
{%- for probe in websites | default([]) %}
{%- if probe.instance -%}
  {%- set probeName = "web-" + probe.job + "-" + probe.instance -%}
  {%- set instanceName = probe.instance -%}
{%- else -%}
  {%- set probeName = "web-" + probe.job -%}
  {%- set instanceName = probe.job -%}
{%- endif %}
{%- for target in probe.targets | default([]) %}
      - {{ probe.module | default(globals.module) }}@{{ globals.proberId }}@{{ probe.job }}@{{ instanceName }}@{{probe.team | default(globals.team) }}@{{ target }}
{%- endfor %}
{%- endfor %}
